<div class='signin-content container'>
  <div class='push-5 span-14'>
    <h1>Sign In</h1>
    <h5>Enter your email and password below</h5>

    <%=
      form_for :user, routes.sessions_path do
        div class: "field full" do
          label :email
          text_field :email
        end

        div class: "field full last" do
          label :password
          password_field :password
        end

        div class: "actions clear" do
          submit "Sign In"
        end
      end
    %>
  </div>
</div>
